/* basic settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* chat screen - structure */

/* when css is commented out then it should be already rewritten with tailwindcss */

#chatScreen {
    /* width: 100%;
    height: 100%;

    display: none;
    justify-content: space-between;

    flex-direction: column; */
}

/* chat screen - header */

#chatScreen header {
    /* width: 100%;
    height: 9.6vh;

    padding: 0 3.75rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 0 0 1rem 1rem;
    color: #fff;

    background-color: #127C87; */
}

#username {
    font-size: xx-large;
}

#usernameAndLogout {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#usernameAndLogout svg {
    cursor: pointer;
}

/* chat screen - message field */

#messageForm {
    display: flex;

    width: 100%;
    height: 9.6vh;

    justify-content: center;
    align-items: center;
    gap: 1rem;

    border-radius: 1rem 1rem 0 0;

    background-color: #127C87;

    min-width: 0;
}

/* chat screen - messages */

#messages {
    display: flex;

    width: 100%;
    height: 81vh;
    
    border-radius: 1rem;
    flex-direction: column;

    padding: 0 5%;

    overflow: hidden scroll;
}

.message {
    min-width: 16rem;
    max-width: 90%;
    padding: .75rem;

    border-radius: 0 1rem 1rem 1rem;
    
    background-color: #D1F3F3;
    overflow-wrap: break-word;
}

.messageContent {
    padding: .75rem;
}

.messageAuthor {
    color: rgba(15, 15, 15, 0.5);
}

.messageFooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.messageWrapper {
    display: flex;
    width: 100%;
    padding: 1rem;
}

.messageRight {
    text-align: right;
    justify-content: flex-end;
}

.messageRight .message {
    border-radius: 1rem 0rem 1rem 1rem;
}

#messageForm #enterMessage {
    width: 75%;
    padding: 2%;
    height: 3.75rem;
    font-size: 1.75em;
    border-radius: 1rem;
}

#messageForm #sendButton, #reloadButton {
    height: 3.75rem;
    width: 3.75rem;

    border-radius: 1rem;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 100ms;

    cursor: pointer;
}

svg {
    height: 2rem;
}


/****************Log in stuff*********************/
#loginScreen {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;

    background-color: #127C87;
}

#logo-start {
    width: 50%;
    display: none;
}

.login-box-white{
    background-color: white;
    width: 90%;
    display: flex;
    padding:7%;
    margin: 3%;
    border-radius: 7px;

}

.login-head {
    width: 100%; 
    text-align: center;
}

.login-head .span1 {
    color: #0F0F0F; font-size: 31.25px; 
    font-family: Zen Kaku Gothic Antique; 
    font-weight: 700; 
    line-height: 37.50px; 
    word-wrap: break-word;
}

.login-head .span2 {
    color: #127C87; 
    font-size: 31.25px; 
    font-family: Zilla Slab; 
    font-style: italic; 
    font-weight: 500; 
    line-height: 37.50px; 
    word-wrap: break-word;
}

.login-head .span3 {
    color: #65B8BE; 
    font-size: 31.25px; 
    font-family: Zilla Slab; 
    font-style: italic; 
    font-weight: 500; 
    line-height: 37.50px; 
    word-wrap: break-word;
}

#namePopup {
    margin-top: 6%;
    width: 100%;
    padding: 2.5%;
    border-radius: 1rem;
}

.label {
    width: 100%; 
    height: 100%; 
    color: #424242; 
    font-size: 12px; 
    font-family: Zen Kaku Gothic Antique; 
    font-weight: 500; 
    line-height: 18.06px; 
    word-wrap: break-word
}

.username-box {
    width: 100%; 
    height: auto;
    background: white; 
    border: 1px #212121 solid;
    
    margin : 8% 2% 2% 2%;
    padding: 1%;
}

input, button {
    border: none;
}

#start-button {
    margin: 2%;
    background: #65B8BE; 
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.buttonSend {
    font-size: 150%;
    padding: .7%;
}

.buttonSend div {
    width: 100%; 
    height: 100%; 
    text-align: center; 
    color: #0F0F0F; 
    font-size: 18px; 
    
    font-weight: 700; 
    line-height: 22.53px; 
    word-wrap: break-word;
}